In [7]:
from pandas import DataFrame, Series
import numpy as np

In [2]:
dic = {
  "张三": [100, 20, 40],
  "李四": [99, 39, 89],
}

df = DataFrame(data=dic, index=["语文", "数学", "英语"])
df

     张三  李四
语文  100  99
数学   20  39
英语   40  89

In [16]:
dic2 = {
  "Tom": 92,
  "John": 89,
  "Mary": 23
}
s1 = Series(dic2)
s1.head(1)

Tom    92
dtype: int64

In [4]:
df.index

Index(['语文', '数学', '英语'], dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 语文 to 英语
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   张三      3 non-null      int64
 1   李四      3 non-null      int64
dtypes: int64(2)
memory usage: 72.0+ bytes

In [24]:
df = DataFrame(data=[[1, 2, 3], [4, 5, 6]], index=['a', 'b'], columns=['c', 'd', 'e'])
df

   c  d  e
a  1  2  3
b  4  5  6