## 需求分析
1. 使用tushare包获取某股票的历史行情数据，并进行数据预处理
2. 输出该股票所有收盘比开盘上涨3%以上的日期
3. 输出该股票所有开盘比前日收盘跌幅超过2%的日期
4. 假如我从2010年1月1日开始，每月第一个交易日买入一手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何？

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import tushare as ts

In [66]:
pro = ts.pro_api("6848a1962cda9db1a4f7410fc876acaced030e98e635923e2d2fad66")

df = pro.daily(**{
  'ts_code': "600036.SH",
  'start_date': "20200101",
  'end_date': "20211231",
}, fields = [
  'trade_date',
  "ts_code",
  "open",
  'close',
  'pre_close',
  'high',
  'low'
])

print(df)

       ts_code trade_date   open   high    low  close  pre_close
0    600036.SH   20211231  48.54  48.88  48.33  48.71      48.50
1    600036.SH   20211230  47.89  48.78  47.66  48.50      47.62
2    600036.SH   20211229  49.67  49.72  47.61  47.62      49.63
3    600036.SH   20211228  49.33  49.80  49.20  49.63      49.33
4    600036.SH   20211227  49.87  50.06  49.00  49.33      49.86
..         ...        ...    ...    ...    ...    ...        ...
481  600036.SH   20200108  38.95  38.95  38.41  38.41      39.15
482  600036.SH   20200107  39.55  39.94  39.10  39.15      39.24
483  600036.SH   20200106  39.19  40.16  38.90  39.24      39.40
484  600036.SH   20200103  38.95  39.62  38.92  39.40      38.88
485  600036.SH   20200102  38.03  39.12  38.02  38.88      37.58

[486 rows x 7 columns]

In [67]:
search_up = (df['close'] - df['open']) / df['open'] > 0.03
print(df[search_up])

       ts_code trade_date   open   high    low  close  pre_close
36   600036.SH   20211111  50.55  52.87  50.46  52.82      50.63
59   600036.SH   20211011  51.44  54.18  51.44  53.00      50.93
62   600036.SH   20210929  49.95  52.17  49.61  51.56      50.42
73   600036.SH   20210910  52.00  54.52  51.75  54.12      52.10
80   600036.SH   20210901  48.88  50.95  48.60  50.79      48.96
90   600036.SH   20210818  49.99  53.57  49.92  53.14      49.62
97   600036.SH   20210809  47.58  50.00  47.58  49.06      47.59
114  600036.SH   20210715  49.00  51.46  48.97  51.05      48.95
124  600036.SH   20210701  54.21  56.00  53.80  56.00      54.19
150  600036.SH   20210525  54.19  57.62  53.93  57.55      54.08
173  600036.SH   20210419  49.90  51.78  49.50  51.77      49.74
192  600036.SH   20210322  52.20  54.72  52.10  53.78      51.76
199  600036.SH   20210311  50.00  52.25  50.00  51.97      49.25
205  600036.SH   20210303  50.00  52.98  49.60  52.77      49.55
237  600036.SH   20210111  46.58  49.17  46.49  48.42      46.60
239  600036.SH   20210107  44.29  45.97  44.26  45.90      44.15
240  600036.SH   20210106  42.10  44.20  42.00  44.15      42.18
265  600036.SH   20201201  44.40  46.55  44.39  46.20      44.20
301  600036.SH   20201012  36.40  37.65  36.30  37.56      36.18
311  600036.SH   20200918  37.85  38.99  37.80  38.99      37.87
326  600036.SH   20200828  36.85  38.45  36.60  38.45      36.90
344  600036.SH   20200804  35.14  37.15  35.00  36.68      35.00
355  600036.SH   20200720  36.10  37.45  35.85  37.27      36.08
365  600036.SH   20200706  37.18  40.41  37.18  40.41      36.74
366  600036.SH   20200703  35.40  36.76  35.35  36.74      35.30
408  600036.SH   20200429  33.90  35.10  33.89  35.02      33.86
435  600036.SH   20200320  29.80  31.11  29.80  31.04      29.31
446  600036.SH   20200305  34.99  36.32  34.80  36.23      34.78
469  600036.SH   20200203  33.80  35.50  33.80  35.03      36.81

In [68]:
search_down = (df['open'] - df['pre_close']) / df['pre_close'] < -0.02

print(df[search_down])

       ts_code trade_date   open   high    low  close  pre_close
67   600036.SH   20210922  48.68  49.98  48.10  49.41      51.25
434  600036.SH   20200323  30.01  30.51  29.88  30.16      31.04
440  600036.SH   20200313  32.80  33.56  32.40  33.41      34.16
469  600036.SH   20200203  33.80  35.50  33.80  35.03      36.81

In [69]:
df['trade_date'] = pd.to_datetime(df['trade_date'], format="%Y%m%d")
print(df)

       ts_code trade_date   open   high    low  close  pre_close
0    600036.SH 2021-12-31  48.54  48.88  48.33  48.71      48.50
1    600036.SH 2021-12-30  47.89  48.78  47.66  48.50      47.62
2    600036.SH 2021-12-29  49.67  49.72  47.61  47.62      49.63
3    600036.SH 2021-12-28  49.33  49.80  49.20  49.63      49.33
4    600036.SH 2021-12-27  49.87  50.06  49.00  49.33      49.86
..         ...        ...    ...    ...    ...    ...        ...
481  600036.SH 2020-01-08  38.95  38.95  38.41  38.41      39.15
482  600036.SH 2020-01-07  39.55  39.94  39.10  39.15      39.24
483  600036.SH 2020-01-06  39.19  40.16  38.90  39.24      39.40
484  600036.SH 2020-01-03  38.95  39.62  38.92  39.40      38.88
485  600036.SH 2020-01-02  38.03  39.12  38.02  38.88      37.58

[486 rows x 7 columns]

In [70]:
df.set_index('trade_date', inplace=True)
print(df)

              ts_code   open   high    low  close  pre_close
trade_date
2021-12-31  600036.SH  48.54  48.88  48.33  48.71      48.50
2021-12-30  600036.SH  47.89  48.78  47.66  48.50      47.62
2021-12-29  600036.SH  49.67  49.72  47.61  47.62      49.63
2021-12-28  600036.SH  49.33  49.80  49.20  49.63      49.33
2021-12-27  600036.SH  49.87  50.06  49.00  49.33      49.86
...               ...    ...    ...    ...    ...        ...
2020-01-08  600036.SH  38.95  38.95  38.41  38.41      39.15
2020-01-07  600036.SH  39.55  39.94  39.10  39.15      39.24
2020-01-06  600036.SH  39.19  40.16  38.90  39.24      39.40
2020-01-03  600036.SH  38.95  39.62  38.92  39.40      38.88
2020-01-02  600036.SH  38.03  39.12  38.02  38.88      37.58

[486 rows x 6 columns]

In [72]:
new_df = df['2020-01':'2021-12']
df_monthly = new_df.resample('MS').first()
cost = df_monthly['open'].sum() * 100
cost

/var/folders/4l/5d0kf6yx68n51tswgt17s0y40000gn/T/ipykernel_44624/3468128452.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  new_df = df['2020-01':'2021-12']

104483.0

In [73]:
df_yearly = new_df.resample("A").last()
df_yearly

              ts_code   open   high    low  close  pre_close
trade_date
2020-12-31  600036.SH  43.05  44.35  42.85  43.95      43.05
2021-12-31  600036.SH  48.54  48.88  48.33  48.71      48.50

In [74]:
print(48.54 * 2400 - cost)

12013.0