In [21]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 2, 3, np.nan, 6, 7])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    7.0
dtype: float64

In [3]:
dates = pd.date_range('20220727', periods=6)
dates

DatetimeIndex(['2022-07-27', '2022-07-28', '2022-07-29', '2022-07-30',
               '2022-07-31', '2022-08-01'],
              dtype='datetime64[ns]', freq='D')

In [22]:
dates[0]

Timestamp('2022-07-27 00:00:00', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-07-27 -1.115718 -0.671506 -0.922049  0.408290
2022-07-28 -1.678373 -0.930149 -0.221813 -1.721030
2022-07-29  0.253641 -0.369561 -0.804516 -1.095727
2022-07-30 -0.374743  0.221641  1.124470  1.549557
2022-07-31  1.578156 -0.542343  1.332091  1.031771
2022-08-01  0.023276 -0.178938  0.620372 -0.994165

In [10]:
df2 = pd.DataFrame({
  'A': [1., 2., 3, 4],
  'B': pd.Timestamp('20220727'),
  'C': pd.Series(1, index=list(range(4)), dtype='float32'),
  'D': np.array([3] * 4, dtype='int32'),
  'E': pd.Categorical(["Test", 'train', 'test', 'train']),
  'F': 'foot'
})
df2

     A          B    C  D      E     F
0  1.0 2022-07-27  1.0  3   Test  foot
1  2.0 2022-07-27  1.0  3  train  foot
2  3.0 2022-07-27  1.0  3   test  foot
3  4.0 2022-07-27  1.0  3  train  foot

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
df.head()

                   A         B         C         D
2022-07-27 -1.115718 -0.671506 -0.922049  0.408290
2022-07-28 -1.678373 -0.930149 -0.221813 -1.721030
2022-07-29  0.253641 -0.369561 -0.804516 -1.095727
2022-07-30 -0.374743  0.221641  1.124470  1.549557
2022-07-31  1.578156 -0.542343  1.332091  1.031771

In [13]:
df.tail(3)

                   A         B         C         D
2022-07-30 -0.374743  0.221641  1.124470  1.549557
2022-07-31  1.578156 -0.542343  1.332091  1.031771
2022-08-01  0.023276 -0.178938  0.620372 -0.994165

In [14]:
df.index

DatetimeIndex(['2022-07-27', '2022-07-28', '2022-07-29', '2022-07-30',
               '2022-07-31', '2022-08-01'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.to_numpy()

array([[-1.11571819, -0.67150593, -0.922049  ,  0.4082902 ],
       [-1.67837251, -0.93014862, -0.22181338, -1.72102978],
       [ 0.25364094, -0.36956111, -0.80451598, -1.09572712],
       [-0.3747435 ,  0.22164117,  1.12447042,  1.54955708],
       [ 1.57815587, -0.5423428 ,  1.33209108,  1.03177121],
       [ 0.02327622, -0.17893815,  0.62037201, -0.99416516]])

In [17]:
df2.to_numpy()

array([[1.0, Timestamp('2022-07-27 00:00:00'), 1.0, 3, 'Test', 'foot'],
       [2.0, Timestamp('2022-07-27 00:00:00'), 1.0, 3, 'train', 'foot'],
       [3.0, Timestamp('2022-07-27 00:00:00'), 1.0, 3, 'test', 'foot'],
       [4.0, Timestamp('2022-07-27 00:00:00'), 1.0, 3, 'train', 'foot']],
      dtype=object)

In [18]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.218960 -0.411809  0.188093 -0.136884
std    1.137540  0.402599  0.975511  1.316881
min   -1.678373 -0.930149 -0.922049 -1.721030
25%   -0.930475 -0.639215 -0.658840 -1.070337
50%   -0.175734 -0.455952  0.199279 -0.292937
75%    0.196050 -0.226594  0.998446  0.875901
max    1.578156  0.221641  1.332091  1.549557

In [19]:
df

                   A         B         C         D
2022-07-27 -1.115718 -0.671506 -0.922049  0.408290
2022-07-28 -1.678373 -0.930149 -0.221813 -1.721030
2022-07-29  0.253641 -0.369561 -0.804516 -1.095727
2022-07-30 -0.374743  0.221641  1.124470  1.549557
2022-07-31  1.578156 -0.542343  1.332091  1.031771
2022-08-01  0.023276 -0.178938  0.620372 -0.994165

In [20]:
df.T

   2022-07-27  2022-07-28  2022-07-29  2022-07-30  2022-07-31  2022-08-01
A   -1.115718   -1.678373    0.253641   -0.374743    1.578156    0.023276
B   -0.671506   -0.930149   -0.369561    0.221641   -0.542343   -0.178938
C   -0.922049   -0.221813   -0.804516    1.124470    1.332091    0.620372
D    0.408290   -1.721030   -1.095727    1.549557    1.031771   -0.994165

In [ ]:
s2 = pd.Series([])